@import "../../scss/configurations";

.main {
  @include FlexBox(column, flex-start, center);
  width: 100%;

  min-height: 100vh;
  background-color: $bg-color;

  .main_h1 {
    @include FlexBox;
  }

  .main_img {
    width: 40%;
    min-width: 340px;
    max-width: 800px;
  }
}

.navbar {
  width: 100%;
  height: 120px;
  background-color: $primary-color;
  @include FlexBox(row, space-between, center);

  .nav-logo {
    max-width: 360px;
    min-width: 200px;
    width: 20%;
    padding-left: 10px;
  }
}

.logo-responsive {
  display: none;
}

.form__container {
  padding: 0 10px;

  & input {
    border: solid 1px $border-color;
    height: 20px;
  }

  & input:focus {
    outline: solid 1px $border-color;
  }

  & button {
    width: 70px;
    height: 24px;
    background-color: $button-color;
    border: solid 1px rgb(44 50 121);
    color: rgb(210 205 205);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.empty {
  width: 100%;
  background-color: $bg-color;
  @include FlexBox(column);
  flex-grow: 1;
}

.product__list {
  max-width: 1320px;
  width: 100%;
  height: 70%;
  @include FlexBox;
}

.notification__container {
  width: 100%;
  height: 18%;
  max-width: 1320px;
  & img {
    min-width: 480px;
    width: 50%;
    margin: 62px 0 0 14px;
  }
}

.swiper-slide {
  background-color: #ebebeb !important;
}

@media screen and (max-width: 490px) {
  .nav-logo {
    display: none;
  }

  .logo-responsive {
    display: block;

    width: 20%;
    padding-left: 10px;
  }

  .notification__container {
    display: none;
    img {
      display: none;
    }
  }
}

@media screen and (max-width: 345px) {
  .form__container {
    width: 190px;

    & input {
      width: 60%;
    }
  }
}
