.card {
  border: solid 1px #ddd;
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.card a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}
.img {
  width: 35%;
}

.vector {
  width: 100%;
  border: solid 0.1px #f1efef;
}
.text__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text__container h1 {
  width: 100%;
  font-size: 1rem;
  color: rgb(68, 68, 68);
}

.text__container p {
  color: rgb(167, 164, 164);
}
