@import "../../scss/configurations";

.home {
  width: 100%;
  min-height: 100vh;
  @include FlexBox;
  background-color: $primary-color;
}

.logo__container {
  width: 50%;
  margin: 0;
  @include FlexBox;

  .logo {
    align-items: center;
    width: 50%;
  }
}

.list__container {
  width: 30%;
  .countries__list {
    list-style-type: none;
  }
}

@media screen and (max-width: 1248px) {
  .country a {
    font-size: 2vw;
  }
}

@media screen and (max-width: 580px) {
  .home {
    @include FlexBox(column);
  }

  .logo__container {
    margin: 20px auto;
    max-width: 405px;

    .logo {
      width: 135px;
      max-width: 405px;
    }
  }

  .list__container {
    width: 210px;
    margin: 0 auto;

    .countries__list {
      padding: 10px;
      width: 188px;
      @include FlexBox(column, center, flex-start);
    }
  }
}
