// Colors

$primary-color: #ffe600;
$button-color: #2c3279;
$border-color: #dddddd;
$primary-font-color: #444444;
$bg-country-color: #ffffffa2;
$hover-color: #ffffffe0;
$bg-color: #ebebeb;
$bf-price-color: #999;

$white: #ffffff;
$black: #000000;

@mixin FlexBox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
